<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <link rel="stylesheet" type="text/css"   href="/css/index.css">
 <title>Bookmarks</title>
</head>
<body>
    <h1>Bookmarks</h1>
	<form action="/bookmarks" method="POST">
		<input id="addForm" type="text" name="url">
		<input class="button" id="addButton" type="submit" value="Add">
	</form>
    <ul>
        <% bookmarks.forEach((bookmark, index) => { %>
			<li id="bookmark-<%= index %>" >
				<form action="/bookmarks/<%= bookmark.id %>?_method=DELETE" method="post">
					<span><%= bookmark.url %></span>
					<input class= "button" id="delete-button-<%= index %>" type="submit" value="Delete">
                    <a id="update-button-<%= index%>" href="/bookmarks/edit/<%= bookmark.id %>">Edit</a>
				</form>
			</li>
        <% }) %>
    </ul>
</body>
</html>