<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <h1><%= bookmark.url %></h1>
    <form action="/bookmarks/<%= bookmark.id %>?_method=PUT" method="post">
		<input type="text" name="updateUrl" id="update-text">
        <input id="update-button" class="button" type="submit" value="Update">
    </form>
	<a href="/bookmarks">Homepage</a>
	<form action="/bookmarks/edit/<%= bookmark.id %>" method="post">
		<input id="comment-text" type="text" name="comment">
		<input id="comment-submit" type="submit" value="Add Comment">
	</form>
	<ul id="comments">
		<% comments.forEach((comment, index) => { %>
			<li id="comment-<%= index %>">
				<span><%= comment.text %></span>
				<form action="/bookmarks/edit/comment/<%= bookmark.id %>/<%= comment.id %>?_method=DELETE" method="post">
					<input id="comment-0-delete" type="submit" value="Delete">
				</form>
			</li>
		<% }) %> 
	</ul>
	<form action="bookmarks/<%=bookmark.id%>/tags" method="post">
		<input id="addTag" type="text" name="tag">
		<input id="addTag-button" type="submit" value="Add Tag"> 
	</form>
</body>
</html>